<div id="<%= dom_id course %>" class="max-w-sw rounded-b overflow-hidden shadow-lg hover:bg-voodoo-100">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= course.title %>
  </p>

  </div>
